.tamanho-col-card{
    height: 70vh;
    padding: 4rem;
    padding-top: 0;
}

.bi{
    font-size: 14rem;
}


.card-hab{
    margin-left: 1.7rem;
    height: 550px;
}



.container-principal{
    height: 100vh;
}

@media only screen and (max-width: 1510px) {
    .container-principal{
        height: 100%;
    }
    .tamanho-col-card{
        height: 700px;
        padding-left: 0;
        padding-right: 0;
    }

    .card-hab{
        margin-left: 1.7rem;
        height: 100%;
    }

}