.tamanho-col-card{
    height: 70vh;
    padding: 4rem;
    padding-top: 0;
}

.card-img-top{
    max-width: 100%;
    height: 50%;
}

.bi{
    font-size: 14rem;
}

.card-img-comp{
    margin-left: 2rem;
    max-width: 80%;
    height: 28vh;
}

.card-hab{
    margin-left: 1.7rem;
    height: 550px;
}

.card-body{
    margin-top: 1.5rem;
}

.container-principal{
    height: 100vh;
}

@media only screen and (max-width: 1170px) {
    .container-principal{
        height: 100%;
    }
    .tamanho-col-card{
        height: 700px;
        padding: 4rem;
    }

    .card-hab{
        margin-left: 1.7rem;
        height: 100%;
    }

}